body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.header {
  background-color: #b19cd9;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

.date-column {
  width: 120px;
}

table {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

tr:hover {
  background-color: #d0d0d0;
}

a {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

li {
  margin: 0;
  padding: 8px;
  padding-left: 0;
  line-height: 1.5;
}

caption {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
